body {
  font-family: roboto;
  background: #0b192f;
}

*{
  padding: 0px;
  margin: 0px; 
}
.container{
  max-width: 1400px;
  margin: 0px auto;
}
.navigation{
  display: flex;
  justify-content: space-around;
  background-color: #024161;
  min-height: 100px;
  align-items: center;
}
.logo{
  color: #fff;
  font-size: 50px;
  font-weight: 100; 
}
.logo span{
  color: #ed5120;
}
.nav-links{
  margin-left: 38vh;
  display: flex;
  justify-content: space-around;
  width: 25%;
  align-items:center;
}
.nav-links li{
  list-style: none;
}
.nav-links a{
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  background-size: 100%;
  margin: 10px;
}
.nav-links li:hover{
  background-color:#1f52a4;
}
.burger{
  visibility: hidden;
}
.burger div{
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
}
.header{
  margin-top: 20px;
  background: center url(../img/post0.jpg) no-repeat;
  background-size: cover;
  height: 474px;  
}
.header_wrap{
  width: 53%;
  height: 100%;
  margin-left: 40px;
  color: #fff;
  position: absolute;
}
.header_wrap h1{
  margin-top: 250px;
  font-weight: 100;
  font-size: 60px;
}
.header_wrap p{
  margin-top: 20px;
  line-height: 32px;
}
.posts_news{
  margin-top: 20px;
  display: flex;
  align-items: flex-start;  
}
.post_column{
  width: 75%;
}
.post1{
  height: 350px;
  display: flex;
  background-color: #9d27b0;
}
.post_image{
  order: 1;
  width: 49%;
}
.post_image img{
  background-size: cover;
  height: 350px;
}
.post_image img:hover {
  opacity:0.5;
  }
.post_content{
  order: 2;
  width: 51%;
  margin: 40px;
  color: #fff;
}
.post_content:hover {
  opacity:0.5;
  }
.post_content h1{
  font-weight: 100;
  font-size: 60px;
}
.post_content p{
  margin-top: 30px;
  line-height: 32px;
}
.post2{
  height: 350px;
  display: flex;
  background-color: #9bb800;
}
.post_image2{
  order: 2;
  width: 49%;
}
.post_image2 img{
  width: 100%;
  background-size: cover;
  height: 350px;
}
.post_image2 img:hover {
  opacity:0.5;
  }

.post_content2{
  order: 1;
  width: 51%;
  margin: 40px;
}
.post_content2:hover {
  opacity:0.5;
  }
.post_content2 h1{
  font-weight: 100;
  font-size: 60px;
  color: #fff;
}
.post_content2 p{
  margin-top: 30px;
  color: #fff;
  line-height: 32px;
}
.post3{
  height: 350px;
  display: flex;
  background-color: #ed5120;
}
.post_image3{
  width: 49%;
}
.post_image3 img{
  width: 100%;
  background-size: cover;
  height: 350px;
}
.post_image3 img:hover {
  opacity:0.5;
  }
.post_content3{
  width: 51%;
  margin: 40px;
}
.post_content3:hover {
  opacity:0.5;
  }
.post_content3 h1{
  font-weight: 100;
  font-size: 60px;
  color: #fff;
}
.post_content3 p{
  margin-top: 30px;
  color: #fff;
  line-height: 32px;
}
.post4{
  height: 350px;
  display: flex;
  background-color: #9d27b0;
}
.post_image4{
  order: 2;
  width: 49%;
}
.post_image4 img{
  width: 100%;
  background-size: cover;
  height: 350px;
}
.post_image4 img:hover {
  opacity:0.5;
  }
.post_content4{
  order: 1;
  width: 51%;
  margin: 40px;
}
.post_content4:hover {
  opacity:0.5;
  }
.post_content4 h1{
  font-weight: 100;
  font-size: 60px;
  color: #fff;
}
.post_content4 p{
  margin-top: 30px;
  color: #fff;
  line-height: 32px;
}
.news_column{
  width: 25%;
  margin-left: 20px;  
}
.news1{
  display: flex;
  flex-direction: column;
  height: 600px;
  background-color: #fff;
}
.news_image{
  height: 45%;
}
.news_image img{
  width: 100%;
  background-size: cover;
}
.news_content{
  height: 55%;
  margin: 40px;
}
.news_content h1{
  font-weight: 300;
}
.news_content  p{
  margin-top: 10px;
  line-height: 30px;
}
.news2{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  height: 600px;
  background-color: #fff;
}
.news_image2{
  height: 45%;  
}
.news_image2 img{
  width: 100%;
  background-size: cover;
}
.news_content2{
  height: 55%;
  margin: 40px;
}
.news_content2 h1{
  font-weight: 300;
}
.news_content2  p{
  margin-top: 10px;
  line-height: 30px;
}
.post5{
  height: 200px;
  display: flex;
  background-color: #2d95bb;
}
.post_content5{
  margin: 40px;
}
.post_content5:hover {
  opacity:0.5;
  }
.post_content5 h1{
  font-weight: 100;
  font-size: 60px;
  color: #fff;
}
.post_content5 p{
  margin-bottom: 40px;
  color: #fff;
  line-height: 32px;
  width: 90%;
}
footer{
  height: 100px;
  background-color: #024161;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  color: #fff;
  align-items: center;
}
@media screen and (max-width: 768px){
  .nav-links{
    display: none;
  }
  .burger{
    visibility: visible;
  }
  .navigation{
    flex-direction: column-reverse;
  }
  .header_wrap{
    width: 90%;
  }
  .post1{
    flex-direction: column;
    height: 700px;
  }
  .post_image img{
    width: 550px;
  }
  .post_content h1{
    font-size: 40px;
  }
  .post_content {
    width: 80%;
  }
  .post2{
    flex-direction: column;
    height: 700px;
  }
  .post_image2 img{
    order: 1;
    width: 550px;
  }
  .post_content2 h1{
    font-size: 40px;
  }
  .post_content2 {
    order: 2;
    width: 80%;
  }
  .post3{
    flex-direction: column;
    height: 700px;
  }
  .post_image3 img{
    width: 550px;
  }
  .post_content3 h1{
    font-size: 40px;
  }
  .post_content3 {
    width: 80%;
  }
  .post4{
    flex-direction: column;
    height: 700px;
  }
  .post_image4 img{
    order: 1;
    width: 550px;
  }
  .post_content4 h1{
    font-size: 40px;
  }
  .post_content4 {
    order: 2;
    width: 80%;
  }
  .post_content5 h1{
    font-size: 30px;
  }
  .news_content{
    margin: 10px;
  }
  .news_content h1{
    font-size: 25px;
  }
  .news_content p{
    line-height: 20px;
  }
  .news_content2{
    margin: 10px;
  }
  .news_content2 h1{
    font-size: 25px;
  }
  .news_content2 p{
    line-height: 20px;
  }
}
@media screen and (max-width: 480px){
  .header_wrap h1{
    margin-top: 150px;
  }
  .posts_news{
    flex-direction: column;
  }
  .post_column{
    width: 100%;
  }
  .post5{
    height: 300px;
  }
  .news_column{
    width: 100%;
    margin: 0px;
  }
  .news1{
    flex-direction: column;
  }
  .news_content{
    height: 49%;
  }
  .news_image{
    height: 308px;
  }
  .news2{
    flex-direction: column;
  }
  .news_content2{
    height: 49%;
  }
  .news_image2{
    height: 308px;
  }
}
