$background: center url(../img/m-h-day.jpg) no-repeat;
$body_background_color: none;
$backgroundPosition: center center;
$background-size: cover;
$headerWidth: 1920px;
$headrHeight: 720px;
$headerBorder-bottom-right-radius: 50em 17em;
$landing-logo_p_color: #282b39;
$header_heading_before_background_color: #0ca1c8;
$header_button_background_color: #699a00;
$section_banner_bg_linear_gradient: linear-gradient( to right,#5f901a,#2e61c3);
