$background: center url(../img/m-h-night.jpg)no-repeat;
$body_background_color: #1b1e2a;
$backgroundPosition: center center;
$background-size: cover;
$headerWidth: 1920px;
$headrHeight: 720px;
$headerBorder-bottom-right-radius: 50em 17em;
$landing-logo_p_color: white;
$header_heading_before_background_color: #ff4d30;
$header_button_background_color: #e4ae00;
$section_banner_bg_linear_gradient: linear-gradient( to right,#d99b03,#972e4d);